{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<title>Hielo </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/mainLogin.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/util.css' %}" />

		<!--===============================================================================================-->
	</head>

	<body>
		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="test.html"> <span></span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav

					<li><a onclick="document.getElementById('modal-wrapper').style.display='block'" >Login</a></li>
		-->
			<nav id="menu">
				<ul class="links">
					<li><a href="#">Home</a></li>
					<li><a href="{% url 'users:login' %}">Iniciar Session </a></li>
					<li><a href="{% url 'users:register' %}">Registro </a></li>

				</ul>
			</nav>


		<!-- Banner -->
			<section class="banner full">
				
				<article>
					<img src="{% static 'images/slide01.jpg' %}" alt="" />
					<div class="inner">
						<header>
							<p> </p>
							<h2> </h2>
						</header>
					</div>
				</article>
				<article>
					<img src=" {%static 'images/slide02.jpg' %}" alt="" />
					<div class="inner">
						<header>
							
						</header>
					</div>
				</article>
				<article>
					<img src=" {%static 'images/slide03.jpg' %}"  alt="" />
					<div class="inner">
						<header>
							
						</header>
					</div>
				</article>
				<article>
					<img src="{%static 'images/slide04.jpg'%}"  alt="" />
					<div class="inner">
						<header>
							
						</header>
					</div>
				</article>
				<article>
					<img src="{%static 'images/slide05.jpg'%}"  alt="" />
					<div class="inner">
						<header>
							
						</header>
					</div>
				</article>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="container"  >
					
					<header class="align-center">
						<p class="special"> jk</p>	
					</header>
					
		&copy; Untitled. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src=" {% static 'assets/js/jquery.min.js' %}"></script>
			<script src=" {% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src=" {% static 'assets/js/skel.min.js' %}"></script>
			<script src=" {% static 'assets/js/util.js' %}"></script>
			<script src=" {% static 'assets/js/main.js' %}"></script>


<!--===============================================================================================-->

	<script src="{% static 'assets/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'assets/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'assets/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'assets/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'assets/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'assets/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'assets/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'assets/js/mainLogin.js' %}"></script>



<script>
// If user clicks anywhere outside of the modal, Modal will close

var modal = document.getElementById('modal-wrapper');
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

<script>
var modal = document.getElementById('modal-register');
document.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
	</body>
</html>