{% extends "base/base.html" %}
{% block title %}{% endblock %}
{% block content %}

    <h2>Preguntas: </h2>
    <div>
        <ul>
            {% for profile in object_list %}
                <li>{{ profile.question }} {{ profile.validacion}} | <a
                        href="{% url 'registro:profile-update' profile.pk %}">editar</a>
                    <a href="{% url 'registro:profile-delete' profile.pk %}">eleminar</a>
                </li>
            {% empty %}
                <li>No hay preguntas.</li>
            {% endfor %}

        </ul>
        <p>
            <a href="{% url 'registro:profile-add' %}">agregar preguntas</a>
        </p>
    </div>
{% endblock %}